html, body {
    font-family: 'Josefin Sans', sans-serif;
}

.mdl-layout__content,
.mdl-layout__header{
    background: linear-gradient(270deg, #246655, #5ab79f, #99cec0);
    background-size: 600% 600%;
    box-shadow: none;
    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

main, #messages-card {
    height: 100%;
    padding-bottom: 0;
}

#messages-card-container {
    height: calc(100% - 150px);
    margin-right: 10%;
    margin-top: 2%;
    padding-bottom: 0;
}

#messages-card {
    margin-top: 15px;
}

.mdl-layout__header-row span {
    margin-left: 15px;
    margin-top: 17px;
}

.mdl-grid {
    max-width: 1024px;
    margin: auto;
}

.material-icons {
    font-size: 36px;
    top: 8px;
    position: relative;
}

.mdl-layout__header-row {
    padding: 0;
    margin: 0 auto;
}

.mdl-card__supporting-text {
    width: auto;
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
}

#messages {
    overflow-y: auto;
    margin-bottom: 10px;
    height: calc(100% - 80px);
}

#message-filler {
    flex-grow: 1;
}

.message-container:first-of-type {
    border-top-width: 0;
}

.message-container {
    display: block;
    margin-top: 10px;
    border-top: 1px solid #f3f3f3;
    padding-top: 10px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.message-container.visible {
    opacity: 1;
}

.message-container .pic {
    background-image: url('/images/profile_placeholder.png');
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-size: 30px;
    border-radius: 20px;
}

.message-container .spacing {
    display: table-cell;
    vertical-align: top;
}

.message-container .message {
    display: table-cell;
    width: calc(100% - 40px);
    padding: 5px 0 5px 10px;
}

.message-container .name {
    display: inline-block;
    width: 100%;
    padding-left: 40px;
    color: #bbb;
    font-style: italic;
    font-size: 12px;
    box-sizing: border-box;
}

#message-form {
    display: flex;
    flex-direction: row;
    width: calc(100% - 110px);
    float: left;
}

#image-form {
    display: flex;
    flex-direction: row;
    width: 48px;
    float: right;
}

#post_emoji {
    display: flex;
    flex-direction: row;
    width: 48px;
    float: left;
    margin-left: 2%;
}

#emoji{
    margin: 0 auto;
}

#message-form .mdl-textfield {
    width: calc(100% - 30px);
}

#message-form button, #image-form button, #post_emoji button {
    width: 100px;
    margin: 15px 0 0 10px;
}

.mdl-card {
    min-height: 0;
}

.mdl-card {
    background: linear-gradient(white, #f9f9f9);
    justify-content: space-between;
}

#user-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 22px;
    width: 100%;
    right: 0;
    padding-left: 10px;
    justify-content: flex-end;
    padding-right: 10px;
}

#user-container #user-pic {
    top: -3px;
    position: relative;
    display: inline-block;
    background-image: url('/images/profile_placeholder.png');
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-size: 40px;
    border-radius: 20px;
}

#user-container #user-name {
    font-size: 16px;
    line-height: 36px;
    padding-right: 10px;
    padding-left: 20px;
}

#post_emoji #emoji,#image-form #submitImage {
    width: auto;
    padding: 0 6px 0 1px;
    min-width: 0;
}

#post_emoji #emoji .material-icons,#image-form #submitImage .material-icons {
    top: -1px;
}

.message img {
    max-width: 300px;
    max-height: 200px;
}

#mediaCapture {
    display: none;
}

@media screen and (max-width: 610px) {
    header {
        height: 113px;
        padding-bottom: 80px !important;
    }

    h1{
        font-size: 2em;
    }

    #user-container {
        top: 72px;
        background: linear-gradient(270deg, #246655, #5ab79f, #99cec0);
        height: 38px;
        padding-top: 3px;
        padding-right: 2px;
        -webkit-animation: AnimationName 10s ease infinite;
        -moz-animation: AnimationName 10s ease infinite;
        animation: AnimationName 10s ease infinite;
    }

    #user-container #user-pic {
        top: 2px;
        width: 33px;
        height: 33px;
        background-size: 33px;
    }
}

.mdl-textfield__label:after {
    background-color: #0288D1;
}

.mdl-textfield--floating-label.is-focused .mdl-textfield__label {
    color: #0288D1;
}

.mdl-button .material-icons {
    top: -1px;
    margin-right: 5px;
}
  